[submodule "moonlight-common/moonlight-common-c"]
	path = moonlight-common/moonlight-common-c
	url = https://github.com/andygrundman/moonlight-common-c.git
	branch = andyg.ios-spatial-audio-common
[submodule "X1Kit"]
	path = X1Kit
	url = https://github.com/cgutman/X1Kit.git
